$color-active: #004FEC;
$color-text: #333D51;

.wrapper-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header {
	padding: 45px 0;
}
.menu-header {
	display: flex;
	width: 285px;
	justify-content: space-between;
}
.logo {
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
}

.menu__item {
	font-size: 18px;
	line-height: 22px;
}

.menu__link {
	transition: all .3s ease;
	&:focus,&:hover {
		color: $color-active;
	}
}