$color-active: #004FEC;
$color-text: #333D51;

.footer {
	padding: 45px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.block-title__title, .developed__title {
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
}

.footer-project {
	font-size: 15px;
	line-height: 18px;
	text-align: center;
}

.developed {
	text-align: right;
}

.block-title__subtitle, .developed__subtitle {
	font-size: 12px;
	line-height: 15px;
}




